name: bugsnag_flutter
description: Bugsnag crash monitoring and reporting tool for Flutter apps
version: 4.1.1
homepage: https://www.bugsnag.com/
documentation: https://docs.bugsnag.com/platforms/flutter/
repository: https://github.com/bugsnag/bugsnag-flutter
issue_tracker: https://github.com/bugsnag/bugsnag-flutter/issues

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter
  bugsnag_bridge: ^2.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

flutter:
  # This section identifies this Flutter project as a plugin project.
  #  # The 'pluginClass' and Android 'package' identifiers should not ordinarily
  #  # be modified. They are used by the tooling to maintain consistency when
  # adding or updating assets for this project.
  plugin:
    platforms:
      android:
        package: com.bugsnag.flutter
        pluginClass: BugsnagFlutterPlugin
      ios:
        pluginClass: BugsnagFlutterPlugin
